* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'staatliches';
  --ff-main: 'staatliches', 'palanquin';

  --fc-primary: #ffffff;

  font-size: 62.5%;
  /* when we put this percentage, we leave the base at 10, then we convert the values of (px) to (rem) and move only a comma.
example: 40px = 4.0rem */
  --fs-header: 4rem;
  --fs-main: 2rem;
}

.page {
  margin: 0 auto;
  position: relative;
}

header {
  background: #8E9AAF;

  font-family: var(--ff-heading);
  color: var(--fc-primary);
  font-weight: 400;
  font-size: var(--fs-header);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
}

.logo {
  padding: 4.2rem;
}

.text {
  padding: 2rem;
  font-family: 'palanquin' !important;
  font-weight: 400;
  text-align: center;
  line-height: 2.3rem;
  font-size: 2.0rem;
  background: #EFF1FF;
  color: #23053A;
  padding-bottom: 6rem;
}

.title {
  background: #CBC0D3;
  font-weight: 400;
  letter-spacing: 0.05rem;

  height: 4.9rem;
  left: 0;
  top: 22rem;
}

main {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  background: #EFF1FF;
  color: #23053A;
  line-height: 1.5rem;
  padding: 0 3.2rem;
  display: grid;
  gap: 1rem;
}


.card {
  position: relative;
  margin-bottom: 2.5rem;

}

.card img {
  animation: topdown 1.3s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.card p {
  font-family: staatliches;
  font-family: var(--ff-main);

  color: #4A4E69;

  background: #FEEAFA;
  border-radius: 2.0rem;
  width: 9.2rem;
  height: 3.5rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  right: 2.5rem;
  top: 1.5rem;

  animation: downtop 3.5s;
}
.footer {
  display: none;
}


@keyframes topdown {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes downtop {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  :root {
    --fs-header: 4.8rem;
  }

  .page {
    display: flex;
  }

  .text {
    color:#ffffff;
    background: #8E9AAF;
    padding-top: 10rem;
  }

  main {
    grid-template-areas: "A B C"
    "D E F";
    padding: 5rem 15rem 10rem;
    grid-column-gap: 5rem;
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }
  
  main div:nth-child(3) {
    grid-area: E;
  }
  main div:nth-child(4) {
    grid-area: D;
  }

  .card img:hover {
    border: 2px solid #CBC0D3;;
    border-radius: 24px;
  }
}